.idea
.venv
*.bkp
~$*

fccn*

#figures/

# big files
embeddings_BAAI_bge-base-en-v1.5.npy

# macOS
.DS_Store
._.DS_Store
.Spotlight-V100
.Trashes

# Directoriex
__pycache__

# jupyter
.ipynb_checkpoints
# Secrets
*api_key.txt